[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
robotframework = "6.1.1"
robotframework-debuglibrary = "*"
robotframework-seleniumlibrary = "*"
hvac = "*"
rpaframework = "*"
oauth2client = "==3.0.0"
mongoengine = "==0.22.1"
pandas = "*"
xlsxwriter = "*"
elasticsearch-dsl = "==7.3.0"
google-api-python-client = "==1.12.5"
google-auth-httplib2 = "==0.0.4"
google-auth-oauthlib = "==0.4.2"
gspread-pandas="==2.3.0"
gspread="==4.0.1"
google-generativeai = "*"
setuptools = "*"
pipfile = "*"

[requires]
python_version = "*"

[scripts]
robot ="robot -V variables/config.py -d outputs --pythonpath ./libraries --loglevel INFO -P ./ tasks/sentinela.robot"
